# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.DbPerfTest.iml
# Datasource local storage ignored files
/../../../../../../../:\Projects\CSharp\DbPerfTest\.idea\.idea.DbPerfTest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
